.exam-notices {
    padding-inline: 1rem;
}

h2 {
    margin-block-end: 0;
}

.exam-notices em {
    text-align: center;
    display: block;
    margin-block: 1rem;
    opacity: 0.8;
}

#navbar .notifications-container {
    display: none;
}

#side-notices * {
    display: none;
}