#content {
    margin-inline: auto;
    opacity: 1;
}

h2 {
    font-weight: 500;
}

h3 {
    font-weight: 400;
}

h3 ~ input {
    margin-bottom: 0;
}

.two-bit {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

h1 {
    margin-top: 0;
}